body{
    font-style:helvetica
}

			/* .container {width: 800px; margin-left:auto; margin-right:auto;} 
			section.section {margin-bottom:50px;}
			img {display:block; width:auto; max-width:80%; height:auto; margin-top:1em; margin-bottom:1em;}
		 */
