
body{
    font-family: Helvetica, sans-serif; 
}

.flex-container
{
    display: flex;
}

.images {
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content:space-between; 
    width:100%;
    margin:1em auto;
}

.images img {
    display:block;
    width:46%;
    height:auto;
}

.container {
    width: 800px;
    margin-left:auto;
    margin-right:auto;
}

section.section {
    margin-bottom:50px;
}

img {
    display:block; 
    width:auto; 
    max-width:80%; 
    height:auto; 
    margin-top:1em; 
    margin-bottom:1em;
} 


